{% extends '_base.html' %}
{% block content %}

     <div class="grid grid-cols-2 gap-4 mb-6">
         <a href="{% url 'sent_documents' %}">
      <div class="bg-gradient-to-r from-purple-400 to-blue-500 text-white p-4 rounded-lg shadow-md">
        <h3 class="font-semibold">Sent</h3>
      </div>
         </a>

         <a href="{% url 'received_documents' %}">
      <div class="bg-gradient-to-r from-green-400 to-blue-500 text-white p-4 rounded-lg shadow-md">
        <h3 class="font-semibold">Received</h3>
      </div>
         </a>
    </div>

{% endblock %}