{% extends '_base.html' %}

{% block content %}

    <h3 class="font-semibold mb-2">Files</h3>
    <div class="grid grid-cols-2 gap-4 mb-6">
      <div class="bg-zinc-200 p-4 rounded-lg shadow-md">
        <h4 class="font-semibold">Exam</h4>
        <p>920 files</p>
      </div>
      <div class="bg-zinc-200 p-4 rounded-lg shadow-md">
        <h4 class="font-semibold">Quiz</h4>
        <p>115 files</p>
      </div>
      <div class="bg-zinc-200 p-4 rounded-lg shadow-md">
        <h4 class="font-semibold">School</h4>
        <p>65 files</p>
      </div>
      <div class="bg-zinc-200 p-4 rounded-lg shadow-md">
        <h4 class="font-semibold">Archive</h4>
        <p>3 files</p>
      </div>
    </div>

{% endblock %}