{% extends "_base.html" %}

{% block content %}
<div class="flex flex-col md:flex-row bg-gray-100">
    {% include 'sidebar.html' %}
    <main class="flex-1 p-6 bg-white shadow-lg rounded-lg">
        {% include 'searchbar.html' %}
        <h1 class="text-4xl font-extrabold text-gray-800 mt-6 mb-8">Sent Documents</h1>

        <div class="space-y-6">
            {% for transfer, files in sent_files_by_transfer.items %}
                <div class="bg-white shadow-md rounded-lg p-6 border border-green-700 hover:border-green-700 transition-all duration-300">
                    <h2 class="text-2xl font-semibold mb-4">📤 {{ transfer.title }} to
                        <span class="text-green-600">{{ transfer.recipient.first_name.capitalize }} {{ transfer.recipient.last_name.capitalize }}</span> at {{ transfer.transferred_at|date:"F j, Y, g:i a" }}</h2>
                    <br>
                    <div class="bg-gray-50 p-4 rounded-lg mt-4 border border-gray-600">
                        <p class="italic text-gray-600">{{ transfer.documents.first.note }}</p>
                    </div>
                    <br>
                    <ul class="list-disc pl-6 mb-4 space-y-2">
                        {% for file in files %}
                            <li class="text-lg text-blue-500">{{ file.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        <a href="/" class="mt-8 inline-block text-green-500 hover:underline text-lg">&larr; Go back to the main page</a>
    </main>
</div>
{% endblock content %}
